<%- include('includes/head') %>
<%- include('includes/nav') %>
    
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center"> Agenda </h1>
      <p class="text-center kead"> Seus contatos estão abaixo </p>

      <%- include('includes/messages') %>

       <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Carlos</td>
            <td>Daniel</td>
            <td>123456879</td>
            <td>email@gmail.com</td>
          </tr>
          <tr>
            <td>Victoria</td>
            <td>Anuzzi</td>
            <td>123456879</td>
            <td>email@gmail.com</td>
          </tr>
          <tr>
            <td>Ruan</td>
            <td>Rodrigues</td>
            <td>123456879</td>
            <td>email@gmail.com</td>
          </tr>
          <tr>
            <td>Sara</td>
            <td>Avlis</td>
            <td>123456879</td>
            <td>email@gmail.com</td>
          </tr>
        </table>
       </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>